# Ignorar cualquier archivo de imagen o vídeo
# Imágenes
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.webp
*.tif
*.tiff
*.svg
*.ico
*.heic
*.heif
*.psd
*.raw
*.cr2
*.nef
*.orf
*.dng
*.ai
*.eps

# Vídeos
*.mp4
*.mov
*.avi
*.mkv
*.mpg
*.mpeg
*.webm
*.wmv
*.flv
*.m4v
*.3gp
*.3g2
*.ogv
*.ts